body{
    font-family: Poppins, Roboto, sans-serif !important;
}

div.poppins{
    font-family: Poppins !important;
}

span.poppins{
    font-family: Poppins !important;
}

tr.poppins{
    font-family: Poppins !important;
}

td.poppins{
    font-family: Poppins !important;
}

.font-weight-semibold{
    font-weight: 600 !important;
}

.text-small{
    font-size: 0.6rem !important;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.028em !important;
    text-transform: none !important;   
}